{% extends "base.html" %}
{% if user.is_authenticated %}
{% block content %}

{% load user_tags %}
{% if request.user|has_group:"Clown" %}
{% include "roles/clown.html" %}
{% elif request.user|has_group:"Troupe Leader" %}
{% include "roles/troupe.html" %}
{% else %}
{% include "roles/client.html" %}
{% endif %}

{% endblock %}
{% block javascript %}
<script>

    $('.update-rating').on('click', function (e) {

        let vote = $(this).attr('data-rating');
        let id = $(this).attr('data-id');
        $.ajax({
            url: '/api/support/',
            data: {
                type: "RATE",
                appointment: $(this).attr('data-appointment'),
                rating_level: $(this).attr('data-rating')
            },
            type: 'POST',
            beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'Token {{token}}'); },
            success: function (data, status) {
                $('#field_' + id).text('you voted: ' + vote);
            }
        });

    });
</script>

{% endblock %}

{% else %}

<div class="row">
    <div class="col">
        <h5>Secured Area</h5>
        <p>sorry friend this is only for authenticated users</p>
    </div>
</div>

{% endif %}