{% extends "base.html" %}

{% block content %}
<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">The Walk in</h5>
              <h6 class="card-price text-center">R100<span class="period">/once off</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single Clown</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5 Performances</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Guests</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Baloon Animals</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Acrobatics</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Clown Face Painting</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Canon Ball Show</li>
              </ul>
              <a href="#" class="btn btn-block btn-success text-uppercase">Book</a>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">The Show</h5>
              <h6 class="card-price text-center">R900<span class="period">/once off</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Clowns</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>50 Performances</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Guests</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-times"></i></span>Baloon Animals</li>
                <li><span class="fa-li"><i class="fas fa-times"></i></span>Acrobatics</li>
                <li><span class="fa-li"><i class="fas fa-times"></i></span>Clown Face Painting</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Canon Ball Show</li>
              </ul>
              <a href="#" class="btn btn-block btn-success text-uppercase">Book</a>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">The Circus</h5>
              <h6 class="card-price text-center">R4 900<span class="period">/once off</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>15 Clowns</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>150 Performances</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Guests</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-times"></i></span>Baloon Animals</li>
                <li><span class="fa-li"><i class="fas fa-times"></i></span>Acrobatics</li>
                <li><span class="fa-li"><i class="fas fa-times"></i></span>Clown Face Painting</li>
                <li><span class="fa-li"><i class="fas fa-times"></i></span>Canon Ball Show</li>
              </ul>
              <a href="#" class="btn btn-block btn-success text-uppercase">Book</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}