{% extends "base.html" %}

{% block masterheader %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">CLOWN-HALL</h1>
        <p class="lead">Putting the FUN into FUN-ctional time keeping</p>
      </div>
    </div>
  </div>
</header>

{% endblock %}