{% extends "base.html" %} {% load static %} {% block title %}User: {{ object.username }}{% endblock %} {% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-12">

            <h2>{{ object.username }}</h2>
            {% if object.name %}
            <p>{{ object.name }}</p>
            {% endif %}
        </div>
    </div>

    {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">

        <div class="col b-5">

            <a class="btn btn-success" href="/dashboard" role="button">Dashboard</a>
            <a class="btn btn-success" href="{% url 'users:update' %}" role="button">My Info</a>
            <a class="btn btn-success" href="{% url 'account_email' %}" role="button">E-Mail</a>

            <!-- Your Stuff: Custom user template urls -->
        </div>

    </div>
    <div class="row">

        <div class="col b-5">
        </div>
    </div>
</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}