<div class="row">
    <div class="col">
        <h5>Booking history</h5>

        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">History</a>
                <a class="nav-item nav-link" id="nav-rating-tab" data-toggle="tab" href="#nav-rating" role="tab"
                    aria-controls="nav-rating" aria-selected="false">Ratings</a>
                <a class="nav-item nav-link" id="nav-booking-tab" data-toggle="tab" href="#nav-booking" role="tab"
                    aria-controls="nav-booking" aria-selected="false">Book</a>
            </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Date</th>
                            <th scope="col">Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                        <tr>
                            <td>{{appointment.title}}</td>
                            <td>{{appointment.start_at|date:"M d, Y"}}</td>
                            <td id="field_{{forloop.counter}}">
                                <i data-rating="1" data-id="{{forloop.counter}}" data-appointment="{{appointment.id}}"
                                    class="update-rating far fa-smile">smile</i> -
                                <i data-rating="0" data-id="{{forloop.counter}}" data-appointment="{{appointment.id}}"
                                    class="update-rating far fa-frown">sad</i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade show" id="nav-rating" role="tabpanel" aria-labelledby="nav-rating-tab">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Date</th>
                            <th scope="col">Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rating in ratings %}
                        <tr>
                            <td>{{rating}}</td>
                            <td>{{rating.created_at|date:"M d, Y"}}</td>
                            <td>
                                {{rating.rating_level}}
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade show" id="nav-booking" role="tabpanel" aria-labelledby="nav-booking-tab">
                <form>
                    <div class="form-group">
                        <label for="Start">Start date</label>
                        <input type="email" class="form-control" id="Start" aria-describedby="emailHelp"
                            placeholder="Enter email">

                    </div>
                    <div class="form-group">
                        <label for="End">End Date</label>
                        <input type="password" class="form-control" id="End" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <textarea class="form-control" id="Address" rows="3"></textarea>
                        <small id="addressHelp" class="form-text text-muted">This is information is hidden by
                            default</small>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" rows="3"></textarea>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Confirm you will pay as much as we want you
                            to</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>