<div class="row">
    <div class="col">
        <h5>Welcome Troupe Leader</h5>

        <p>Your Api Key is: {{token}}</p>
        <p>but during V0.1.0 we recommend using the admin panel</p>
    </div>
</div>